
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/modules.xml
data/MITIE-models-v0.2.tar.bz2
data/MITIE-models/english/binary_relations/rel_classifier_book.written_work.author.svm
data/MITIE-models/english/total_word_feature_extractor.dat
data/MITIE-models/english/ner_model.dat
data/MITIE-models/english/binary_relations/rel_classifier_time.event.people_involved.svm
data/MITIE-models/english/binary_relations/rel_classifier_time.event.locations.svm
data/MITIE-models/english/binary_relations/rel_classifier_time.event.includes_event.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.place_of_interment.interred_here.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.person.religion.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.person.place_of_birth.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.person.parents.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.person.nationality.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.person.ethnicity.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.ethnicity.geographic_distribution.svm
data/MITIE-models/english/binary_relations/rel_classifier_people.deceased_person.place_of_death.svm
data/MITIE-models/english/binary_relations/rel_classifier_organization.organization_scope.organizations_with_this_scope.svm
data/MITIE-models/english/binary_relations/rel_classifier_organization.organization_founder.organizations_founded.svm
data/MITIE-models/english/binary_relations/rel_classifier_organization.organization.place_founded.svm
data/MITIE-models/english/binary_relations/rel_classifier_location.location.partially_contains.svm
data/MITIE-models/english/binary_relations/rel_classifier_location.location.nearby_airports.svm
data/MITIE-models/english/binary_relations/rel_classifier_location.location.contains.svm
data/MITIE-models/english/binary_relations/rel_classifier_law.inventor.inventions.svm
data/MITIE-models/english/binary_relations/rel_classifier_influence.influence_node.influenced_by.svm
data/MITIE-models/english/binary_relations/rel_classifier_film.film.directed_by.svm
*.pyc
rasa_nlu/data/total_word_feature_extractor.dat
