###rasa_nlu
gevent==1.2.1
Klein==17.2.0
boto3==1.4.4
typing==3.6.4
future==0.16.0
six==1.10.0
jsonschema==2.6.0
matplotlib==1.5.3
requests==2.14.2
tqdm==4.11.2
numpy==1.13.3
simplejson==3.11.1

### Sklearn
spacy==1.8.2
scikit-learn==0.19.1
sklearn-crfsuite==0.3.5